.containerOrder {
    display: flex;
    width: 62%;
    margin: auto;
    margin-top: 54px;
    
}

.sectionTwo {
 margin-right: 32px;
}

.containerSectionCoffee{
    width: 100%;
    margin: auto;

}
  
  .containerSectionCoffeeTitle{
    font-family: var(--title);
    color: var(--base-subtitle, #403937);
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height:  41.6px;
    margin-bottom: 15px;
    margin-top: 72px;
  }
  
  .containerDelivery {
    margin: auto;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    
    align-self: stretch;

    border-radius: 6px;
    background: var(--base-card, #F3F2F2);
    margin-bottom: 12px;
  }

  .mapBox{  
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }

  .mapBoxTitle{
    display: flex;
    align-items: center;

    color: var(--base-subtitle, #403937);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height:  20.8px;
  }

  .mapBoxSpan {
    color: var(--base-text, #574F4D);

    font-family: var(--regular);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height:  18.2px;
    margin-left: 35px;
  }

  .color{
    color: #C47F17;
    width: 22px;
    height: 22px;
    margin-right: 8px;
  }

  .containerInputs {
    display: flex;
    flex-direction: column;
    
  }

  .inputBox{
    padding: 12px;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid var(--base-button, #E6E5E5);
    background: var(--base-input, #EDEDED);
    margin-bottom: 16px;
    font-size: 14px;
    color: var(--base-label, #8D8686);
    font-weight: 400;

    outline: none;
  }

  .inputBox1{
    width: 40%;
    padding: 12px;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid var(--base-button, #E6E5E5);
    background: var(--base-input, #EDEDED);
    margin-bottom: 16px;
    font-size: 14px;
    color: var(--base-label, #8D8686);
    font-weight: 400;

    outline: none;
  }

.containerAddress {
    display: flex;
    gap: 12px;
    width: 100%;
}

.home {
    display: flex;
    flex-direction: column;
    
}

.containerCity {
    display: flex;
    flex-direction: column;
}

.box1 input{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.box2{
  display: flex;
}

.city {
  width: 80%;
  margin-right: 12px;
}

.inputUf{
  width: 20%;
}

.colorTwo{
    width: 22px;
    height: 22px;
    color:#8047F8;
}

.credCard {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 12px;
}

.cards {
    display: flex;
    align-items: center;
    color: var(--base-text, #574F4D);
    border-radius: 6px;
    background: var(--base-button, #E6E5E5);
    padding: 16px;
    font-size: 12px;
    width: 100%;
    cursor: pointer;
}

.cards:hover{
  border-radius: 6px;
  border: 2px solid var(--brand-purple, #8047F8);
  background: var(--brand-purple-light, #EBE5F9);
}

.cardsCenter {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 4px;
}

