.sectionTwo {
    margin-right: 32px;
}

.containerSectionCoffee{
       width: 100%;
       margin: auto;
   
}
     
.containerSectionCoffeeTitle{
       font-family: var(--title);
       color: var(--base-subtitle, #403937);
       font-size: 18px;
       font-style: normal;
       font-weight: 800;
       line-height:  41.6px;
       margin-bottom: 15px;
       margin-top: 72px;
}
     

.containerSelect{
    border-radius: 6px 44px;
    background: var(--base-card, #F3F2F2);
    padding: 40px;
    width: 448px;
  
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
   
  }
  
  .containerSelectBox {
      padding: 8px 4px;
      display: flex;
      background: var(--base-card, #F3F2F2);
      margin-bottom: 24px;
      border-bottom: 1px solid #E6E5E5;
  }
  
  .containerSelectBox img {
      margin-right: 20px;
    
  }
  
  .cardSelect {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
  
  }
  
  .cardExpress{
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      
  }
 
  .cardExpress h3 {
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height:  20.8px;
      color: var(--base-subtitle, #403937);
  }
  
  .cardExpress p {
      color: var(--base-text, #574F4D);
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height:  20.8px;
      
  }
  
  .cardRemove {
      display: flex;
      align-items: center;
    
  }
  
  .coffeeCardBox2P2{
      display: flex;
  }
  
  .coffeeCardBox2P2 img {
    margin: 4px;
   
  }

  .cardRemove p {
      height: 32px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      margin-right: 10px;
      background: var(--base-button, #E6E5E5);
      color: var(--base-title, #272221);
      border-radius: 6px;
      padding: 8px;
  }
  
  .cardRemove span {
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height:  19.2px;
      text-transform: uppercase;
      color: var(--base-text, #574F4D);
      background: var(--base-button, #E6E5E5);
      border-radius: 6px;
      padding: 8px;
      display: flex;
  }

  .cardRemove span:hover {
    background: var(--base-hover, #D7D5D5);
  }
  
  .trash {
      width: 20px;
      height: 20px;
      color: #8047F8;
      margin-right: 5px;
      
  }

  .box3 {
    margin-left: 4px;
    
  }

.selectOrder {
     display: flex;
     flex-direction: column;
}

.selectIntens {
    display: flex;
    justify-content: space-between;
    color: var(--base-text, #574F4D);
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.2px;
    margin-bottom: 15px;
    font-family: var(--regular);
}

.selectIntensTwo {
    display: flex;
    justify-content: space-between;
    color: var(--base-subtitle, #403937);
    text-align: right;
    font-family: var(--title);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 24px;
}

.buttonOrder{
   
    display: flex;
    padding: 12px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height:  22.4px;
    border-radius: 6px;
    background: var(--brand-yellow, #DBAC2C);
    color: white;
    border: none;
    width: 100%;
}

.buttonOrder:hover{
    background: var(--brand-yellow-dark, #C47F17);
}
