.containerSection{
    width: 100%;
    margin: auto;
    margin-top: 150px;

}

.containerSectionOne {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.containerDivs {
    display: flex;
    width: 80%;
}

.sectionOneContainer{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 76px;
}

.sectionOnetitle{
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height:  62.4px;
    color: var(--base-title);
    font-family: var(--title);
    padding-right: 100px;
}

.sectionOneContainer p{
    font-family: var(--regular);
    color: var(--base-subtitle, #403937);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
    width: 100%;
}


.icons {
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height:  20.8px;
    margin-top: 66px;
}

.containerIcons{
    display: flex;
    align-items: center;
    width: 100%;
}

.sectionCoffeeCards {
    width: 100%;
    
}

.containerIconsPrimary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


.containerIconsPrimaryBox2{
    width: 100%;
    display: flex;
    align-items: center;

}

.containerIconsPrimary p {
    font-family: var(--regular);
    color: var(--base-text, #574F4D);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height:  20.8px;
    display: flex;
    align-items: center;
    text-align: left;
}

.containerIconsImg{
    padding: 8px;
    border-radius: 50%;
    background: var(--brand-yellow-dark, #C47F17);
    margin-right: 12px;

}

.light{
    background: var(--brand-yellow, #DBAC2C);
}

.gray {
    background: var(--base-text, #574F4D);
}

.purple {
    background: var(--brand-purple, #8047F8);
}

.containerCoffe{
    width: 40%;
}

.containerCoffe img {
    width: 100%;
}

.sectionTwo{
    margin-top: 100px;
  }
  
  .containerSectionCoffee{
    width: 80%;
    margin: auto;
  }
  
  .containerSectionCoffeeTitle{
    font-family: var(--title);
    color: var(--base-subtitle, #403937);
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height:  41.6px;
    margin-bottom: 54px;
  }
  

  @media (max-width: 700px) {

    .containerSection {
        width: 90%;
        margin-top: 0;
    }

    .containerSection{
        margin-top: 150px;
    }

    .sectionOnetitle{
        padding-right: 0;
        margin-top: 20px;
        width: 100%;
    }

    .sectionOneContainer h1{
        font-size: 28px;
        line-height: 38px;
    }

    .containerDivs{
        width: 100%;
    }

    .containerDivs:nth-child(1){
        flex-direction: column-reverse;
    }

    .sectionOneContainer{
        width: 100%;
        margin: auto;
    }

    .containerIconsPrimary{
        flex-direction:column ;
    }

    .sectionTwo{
        margin-top: 50px;
    }

    .containerCoffe {
        width: 80%;
        margin: auto;
    }
    
    .icons{
        margin-top: 50px;
    }

    .containerSectionCoffee {
      width: 90%;
    }

   
  }