.containerSection{
    width: 100%;
    margin: auto;
    margin-top: 150px;

}

.containerSectionOne {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.containerDivs {
    display: flex;
    width: 70%;
}

.sectionOneContainer{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-right: 76px;
    
}

.sectionOnetitle{
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height:  62.4px;
    color: var(--base-title);
    font-family: var(--title);

}

.sectionOneContainer p{
    font-family: var(--regular);
    color: var(--base-subtitle, #403937);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;

}


.icons {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height:  20.8px;
    margin-top: 66px;
}

.containerIcons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.containerIconsPrimary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.containerIconsPrimaryBox2{
    width: 100%;
    display: flex;
}

.containerIcons .box {
  margin-right: 20px;
}

.containerIconsPrimary p {
    font-family: var(--regular);
    color: var(--base-text, #574F4D);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height:  20.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.containerIconsImg{
    padding: 8px;
    border-radius: 50%;
    background: var(--brand-yellow-dark, #C47F17);
    margin-right: 12px;
}

.light{
    background: var(--brand-yellow, #DBAC2C);
}

.gray {
    background: var(--base-text, #574F4D);
}

.purple {
    background: var(--brand-purple, #8047F8);
}

.containerCoffe{
    width: 40%;
}

.containerCoffe img {
    width: 100%;
}

.sectionTwo{
    margin-top: 100px;

  }
  
  .containerSectionCoffee{
    width: 70%;
    margin: auto;
  }
  
  .containerSectionCoffeeTitle{
    font-family: var(--title);
    color: var(--base-subtitle, #403937);
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height:  41.6px;
    margin-bottom: 54px;
  }
  