.headerContainer {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 160px;
    margin-top: 30px;
}

.imgLogo{
    width: 84.952px;
    height: 40px;
    
}

.location {
    display: flex;
    gap: 20px;
}

.location p {
    padding: 8px;
    border-radius: 6px;
    background: var(--brand-purple-light, #EBE5F9);
    display: flex;
    align-items: center;
    color: var(--brand-purple-dark, #4B2995);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.imgLocation{
    padding: 8px;
    border-radius: 6px;
    background: var(--brand-yellow-light, #F1E9C9);
}


