header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    background: var(--base-background, #ffffff);
    width: 100%;
}

.headerContainer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 32px 0px;
    margin-top: 0px;
}

.imgLogo{
    width: 84.952px;
    height: 40px;

}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.location p {
    padding: 8px;
    border-radius: 6px;
    background: var(--brand-purple-light, #EBE5F9);
    display: flex;
    align-items: center;
    color: var(--brand-purple-dark, #4B2995);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.imgLocation{
    padding: 8px;
    border-radius: 6px;
    background: var(--brand-yellow-light, #F1E9C9);
    
}


.location img {
    display: flex;
    align-items: center;
}