
  .containerSectionCoffeeCard{
    width: 256px;
    height: 310px;
    border-radius: 6px 36px;
    padding: 15px;
    background: var(--base-card, #F3F2F2);
    margin-top: 54px;

  }

  .sectionCoffeeCardImg{
    position: relative;
    margin-top: -50px;
    margin-left: 60px;
    width: 120px;
    height: 120px;
    
  }
  
  .containerSectionCoffeeCardBox{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }
  
  .tagsContainer {
    display: flex;
    gap: 2px;
  }

  .containerSectionCoffeeCardBox h3 {
    color: var(--brand-yellow-dark, #C47F17);
    font-family: var(--regular);
    border-radius: 100px;
    background: var(--brand-yellow-light, #F1E9C9);
    padding: 4px 8px;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
    margin-top: 12px;
  }
  
  .containerSectionCoffeeCardBox p {
    color: var(--base-subtitle, #403937);
    font-family:var(--title);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height:  26px;
    margin-top: 16px;
  }
  
  .containerSectionCoffeeCardBox span{
    color: var(--base-label, #8D8686);
    font-family: var(--regular);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.2px;
    margin-top: 8px;
    text-align: center;
  }
  
  .coffeeCardBox2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 33px;
  }
  
  .coffeeCardBox2P1{
    color: var(--base-text, #574F4D);
    font-family: var(--title);
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
  }
  
  .coffeeCardBox2P2{
    font-family: var(--regular);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height:  20.8px;
    border-radius: 6px;
    padding: 8px 8px;
    background: var(--base-button, #E6E5E5);
    display: flex;
    gap: 4px;
  }
  
  .money {
    font-family: var(--regular);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.8px ;
  }
  
  
  .coffeeCardBox2P2 img {
    margin-right: 4px;
  }

  